In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [81]:
df = pd.read_csv("/content/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [82]:
df.shape

(918, 12)

In [83]:
from sklearn.preprocessing import LabelEncoder
le_new = LabelEncoder()

In [84]:
df['Gender'] = le_new.fit_transform(df['Sex'])

In [85]:
df['ChestPain'] = le_new.fit_transform(df['ChestPainType'])

In [86]:
df['ECG'] = le_new.fit_transform(df['RestingECG'])

In [87]:
df['Exercise'] = le_new.fit_transform(df['ExerciseAngina'])

In [88]:
df.drop(df[['Sex','ChestPainType','FastingBS','RestingECG','ExerciseAngina','ST_Slope']],axis='columns',inplace=True)

In [89]:
df.head()

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,HeartDisease,Gender,ChestPain,ECG,Exercise
0,40,140,289,172,0.0,0,1,1,1,0
1,49,160,180,156,1.0,1,0,2,1,0
2,37,130,283,98,0.0,0,1,1,2,0
3,48,138,214,108,1.5,1,0,0,1,1
4,54,150,195,122,0.0,0,1,2,1,0

In [90]:
X = df.drop(df[['HeartDisease']],axis = 'columns',inplace =False)
X.head()

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,Gender,ChestPain,ECG,Exercise
0,40,140,289,172,0.0,1,1,1,0
1,49,160,180,156,1.0,0,2,1,0
2,37,130,283,98,0.0,1,1,2,0
3,48,138,214,108,1.5,0,0,1,1
4,54,150,195,122,0.0,1,2,1,0

In [91]:
y = df['HeartDisease']
y.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [92]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [93]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,test_size=0.2)

### Finding Score using Logistic Regression

In [94]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.782608695652174

### Optimization of Dimensions using PCA

In [118]:
from sklearn.decomposition import PCA
pca = PCA(0.95)
X_pca = pca.fit_transform(X)

In [119]:
pca.n_components_

2

In [120]:
pca.explained_variance_ratio_

array([0.92025566, 0.04913181])

In [121]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca,y,test_size=0.2)

In [122]:
model = LogisticRegression()
model.fit(X_train_pca,y_train)
model.score(X_test_pca,y_test)

0.7391304347826086